<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style/index.css">
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    <nav class="flex w-full justify-between p-2">
        <div class="flex justify-center items-center align-center gap-2">
            <img src="../static/asset/upload_image.svg" alt="logo">
            <h7 class="font-extrabold ">Vix <span>Cloud</span></h7>
        </div>
        <a href="/">
            <button
                class="bg-blue-600 rounded-sm border-none text-white  p-2 hover:ring-3 pointer  cursor-pointer">Login to
                account</button>
        </a>
    </nav>
    <div class="md:m-20 md:p-10">
        <div class="w-full flex md:flex-row justify-center flex-wrap">
            <div class="md:w-3/12 w-full">

                <div class="w-full  bg-white rounded-sm  p-10">
                    <h1 class="font-bold mb-1">Check your mailbox</h1>
                    <p class="mb-4 text-sm">We’ve sent you an email with instructions to reset your password.
                    </p>
                    <h1 class="font-bold mb-1 mt-4">Didn't get the email?</h1>

                    <p class="mb-4 text-sx">If you don’t see an email from us within 5 minutes, one of the things could have happened:</p>
                    
                    <ol class="text-sm  gap-2 mb-4  list-decimal">
                        <li>The email is in your spam/junk folder. (If you use Gmail, <br> please check your Promotions tab
                            as well.)</li>
                        <li>The email address you entered had a typo.
                        </li>
                        <li>You accidentally entered a different email address. <br>This usually happens with auto-complete.
                        </li>
                        <li>
                            We can’t deliver the email to this address. This is <br> usually because of corporate firewalls
                            or filtering.

                        </li>
                    </ol>


                    <p class="mt-4">Confirm that
                        x10tion007@gmail.com
                        is spelt correctly and check your spam/junk folder</p>
                </div>
            </div>
            <div class="md:w-8/12 flex justify-center align-center md:mt-7">
            </div>
        </div>
        <div
            class="absolute bottom-0 right-0 flex justify-between gap-4 p-3 content-baseline text-[14px] text-slate-700">
            <p class="">Vix Cloud Technology Solutions Limited - Open source software &ccirc;2024</p>
            <p class=""> <a href="">Privacy policy </a>| <a href=""> Terms and conditions</a></p>
            <div class="bg-blue-700  rounded-sm text-white hover:bg-blue-900 cursor-pointer">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                    stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="M8.625 12a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm0 0H8.25m4.125 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm0 0H12m4.125 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm0 0h-.375M21 12c0 4.556-4.03 8.25-9 8.25a9.764 9.764 0 0 1-2.555-.337A5.972 5.972 0 0 1 5.41 20.97a5.969 5.969 0 0 1-.474-.065 4.48 4.48 0 0 0 .978-2.025c.09-.457-.133-.901-.467-1.226C3.93 16.178 3 14.189 3 12c0-4.556 4.03-8.25 9-8.25s9 3.694 9 8.25Z" />
                </svg>

            </div>
        </div>
</body>

</html>