{% extends "base.html" %}
{% block title %}Login{% endblock %}

{% block content %}
   
 <nav class="flex w-full justify-between p-2">
    <div class="flex justify-center items-center align-center gap-2">
    <img src="../static/asset/upload_image.svg" alt="logo">
    <h7 class="font-extrabold ">Vix <span>Cloud</span></h7>
    </div>
    <a href="/">
    <button class="bg-blue-600 rounded-sm border-none text-white  p-2 hover:ring-3 pointer  cursor-pointer">Login to account</button>
</a>
 </nav>
 <div class="md:m-20 md:p-10">
 <div class="w-full flex md:flex-row justify-center flex-wrap">
    <div class="md:w-3/12 w-full">
        <form action="./confirm_reset">
        <div class="w-full  bg-white rounded-sm  p-7">
                    <p class="text-[#333333] p-1">Forgot Password?<p>
                    <input type="email" name="email" id="email" placeholder="Email address" class="outline outline-slate-200 outline-offset-2 outline-1 mt-4 mb-3 w-full p-2 hover:ring-offset-1 hover:ring-1">
                    <button class="bg-blue-600 rounded-sm text-white  w-full  p-2 hover:ring-3 mt-1 mb-4  hover:bg-blue-700 pointer hover:text-blue-50 cursor-pointer" type="submit">Reset password</button>
                    <a href="/" class="mt-7  cursor-pointer">Remember your password?</a>
                </form>
        </div>
    </div>
    {% endblock %}
    </div>